body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: black;
}

.link, h1 {
    color: #FE00FE;
}

.board-row {
    display: flex;
}

.square {
    background: #010001;
    border: 1px solid #5CCBEA;
    margin-right: -1px;
    margin-top: -1px;
}

.status {
    margin-bottom: 10px;
}

.visited {
    background: #FE00FE;
}

.lava {
    background: #3314ff;
}

.path {
    background: #59ff00;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
    color: white;
}

.error {
    color: red;
    font-size: large;
    background: black;
    border-color: red;
}

